<!DOCTYPE HTML>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="/css/signup_login.css"/>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>회원가입, 로그인 페이지</title>
</head>
<body>

<div class="wrapper">
    <div class="container">
        <div class="sign-up-container">
            <!-- <form action="/view/user/signup" method="post">-->
            <form th:action method="post" enctype="multipart/form-data">
                <h1>회원가입</h1>
                <div class="social-links">
                    <div>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </div>
                </div>
                <input type="text" name="username" placeholder="아이디">
                <input type="email" name="email" placeholder="이메일">
                <input type="password" name="password" placeholder="비밀번호">
                <input type="text" name="selfText" placeholder="자기소개">
                <input type="file" name="imageFile" class="login-input-box"
                       accept="image/gif,image/jpeg,image/jpg,image/png">
                <input type="submit" class="form_btn" value="회원가입">
            </form>
        </div>
        <div class="sign-in-container">
            <form>
                <h1>로그인</h1>
                <div class="social-links">
                    <div>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </div>
                </div>
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="password" name="password" id="password" placeholder="Password">
                <!--TODO :  onclick 안 먹는 문제 : return false; 추가-->
                <button class="form_btn" onclick="onLogin();return false;">로그인</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay-left">
                <h1>Welcome Back</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button id="signIn" class="overlay_btn">로그인</button>
            </div>
            <div class="overlay-right">
                <h1>Hello, Friend</h1>
                <p>블로그를 시작하시려면 회원가입을 해주세요!</p>
                <button id="signUp" class="overlay_btn">회원가입</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/signup_login.js" type="text/javascript"></script>
<script>
    const href = location.href;
    const queryString = href.substring(href.indexOf("?") + 1)
    /*    if (queryString === 'error') {
            const errorDiv = document.getElementById('login-failed');
            errorDiv.style.display = 'block';
        }*/
    const host = 'http://' + window.location.host;

    function onLogin() {
        let username = $('#username').val();
        let password = $('#password').val();

        $.ajax({
            type: "POST",
            url: `/view/user/login`,
            contentType: "application/json",
            data: JSON.stringify({username: username, password: password}),
        })
        .done(function () {
            window.location.href = host;
            alert("로그인 성공");
        })
        .fail(function (jqXHR, textStatus) {
            alert("Login Fail");
            window.location.href = host + '/view/user/login-page?error'
        });
    }
</script>
</html>